<style>
    
    body{
  min-height: 100vh;
  font-family: var(--bs-font-sans-serif);
  background: #f6f9ff;
  color: #444444;
}

.body{
  min-height: 100vh;
  font-family: var(--bs-font-sans-serif);
  background: #f6f9ff;
  color: #444444;
}
.custom01{
  min-height: 9.5vh;
  margin-top: 11%;
}
.custom{
  font-size: 1.2em;
}
.cardd{
  height:220px;
}
.carddd{
  mix-blend-mode: multiply;
}
.card{
  background: transparent;
  border: none;
}
.title{
  font-size: 1.0em;
}
.tit{
  font-size: 1.2em;
}

